<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Moviex</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">



    <!-- styles needed for carousel slider -->
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- include pace script for automatic web page progress bar  -->

    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="assets/js/pace.min.js"></script>
</head>
<body>

<div id="wrapper">

    <div class="header">
        <nav class="navbar navbar-site navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="navbar-brand logo logo-title">
                        <!-- Original Logo will be placed here  -->
                        <span class="logo-icon"><!-- <i class="icon icon-search-1 ln-shadow-logo shape-0"></i> --> </span>
                        <span>Moviex</span> 
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->



<!-- NEED TO UPDATE TO FEED POSTS ONTO FRONT PAGE   INSERT HANDLEBARS ___________________-->
<section id="Banner">
    <div class="intro" style="background-image: url(images/bg3.jpg)">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">MovieX</h1>
                    <p class="sub animateme fittext3 animated fadeIn"> The seamless way to track and review movies you want to watch.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- /.intro ============= Information static pages-->

<section id="expertise" class="btn-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h2 class="section-subheading text-muted"> Create your movie list and rate movies you watch </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive img-center" src="images/computer.png" alt="">
<!--                         <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse">
                        <img src="images/computer.png"></i> -->
                    </span>
                    <h4 class="expertise-heading"> Step 1:  Sign Up for a Moviex Account. It's Free!!</h4>
                    <p class="text-muted">All you need is an email and password to sign up </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                     <img class="img-circle img-responsive img-center" src="images/film.png" alt="">
                     <!--    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="expertise-heading"> Step 2:  Search the largest database of movies available </h4>
                    <p class="text-muted">Select from the latest movies in theatres or search by title in the search bar </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                     <img class="img-circle img-responsive img-center" src="images/list.png" alt="">
                   <!--      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="expertise-heading">Step 3:  It is easy to add movies to your wish list </h4>
                    <p class="text-muted">Simply add movies that you want to watch to your list. Any movies you watch, you can leave a rating.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="customers" class="bg-light-gray">
    <div class="container">
        <div class="row 1">
             <div class="col-lg-12 text-center">
              <h2 class="section-heading">Our Customer</h2>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center" src="images/1.jpg" alt="">
                <h3>Jonie Mitchell
                    <small>Musician</small>
                </h3>
                <p>Moviex is an amazing site. I don't watch movies unless it is on my Moviex watch list!!!!! I thought about calling David Crosby and telling him about this service but he is an asshoe comparing a relation with me to a cement mixer! So nevermind. I will keep this service to myself </p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center" src="images/2.jpg" alt="">
                <h3>Mil Máscaras
                    <small>Retired Professional Wrestler</small>
                </h3>
                <p>Since I am on the road now as a booker for AAA promotion, Moviex is the only way I keep track of my Mexican Movies. There is nothing better than drinking a six pack of cerveza after a show with the boyz and looking at my list of películas.  Si se puede!!!</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-circle img-responsive img-center" src="images/3.jpg" alt="">
                <h3>Barack Obama
                    <small>President of the United States</small>
                </h3>
                <p>When I am on AirForce One, I make sure to log into my Moviex Account before selecting a movie for my flight. This service is so great that I recommended it to UN Secretary-General Ban Ki-moon, Former PM David Cameron, and Advisor Susan Rice. I even recommended  MovieX to Raul Castro when we started working on diplomatic relations but Cuba doesn't have internet which is too bad!!!</p>
            </div>
        </div>
    </div>
    </section>


    <!-- /.footer -->
    <!-- /.main-container -->
    <!-- /.page-info -->
    <div class="footer" id="footer">
        <div class="container">
            <ul class=" pull-left navbar-link footer-nav">
                <li>
                <a href="/"> Home </a> 
                <a href="/login"> Log In </a> 
                <a href="/signup"> Sign Up </a> 

                </li>
            </ul>
            <ul class=" pull-right navbar-link footer-nav">
                <li>&copy;2016 Moviex</li>
            </ul>
        </div>
    </div

    <!-- /.footer-->
</div>
<!-- /.wrapper -->

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!-- include carousel slider plugin  -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- include equal height plugin  -->
<script src="assets/js/jquery.matchHeight-min.js"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="assets/js/hideMaxListItem.js"></script>

<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
<script src="assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>


<!-- include custom script for site  -->
<script src="assets/js/script.js"></script>

<script>

</script>

<!-- include jquery autocomplete plugin  -->

<script type="text/javascript" src="assets/plugins/autocomplete/jquery.mockjax.js"></script>
<script type="text/javascript" src="assets/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="assets/plugins/autocomplete/usastates.js"></script>

<script type="text/javascript" src="assets/plugins/autocomplete/autocomplete-demo.js"></script>

</body>
</html>





